{% extends "listings/base.html" %}

{% block content %}
<h2 class="text-center mb-3">MY LISTINGS:</h2>

<div class="row">
    <div class="col">
        <div class="container text-center p-3">
            <table class="table text-center">
                <tr>
                    <th>Product</th>
                    <th>Data Listed</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                {% for listing in my_listings %}
                <tr>
                    <td>{{ listing.title }}</td>
                    <td>{{ listing.list_date }}</td>
                    <td><a class="btn btn-warning" href="{% url 'listings:detail' listing.id %}">View</a></td>
                    <td><a class="btn btn-warning" href="{% url 'listings:edit_listing' listing.id %}">Edit</a></td>
                    <td><a class="btn btn-warning" href="{% url 'listings:delete_listing' listing.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
            <div class="container text-center">
                <a class="btn brn-warning" href="{% url 'listings:new_listing' %}">New Listing</a>
            </div>
        </div>
    </div>
</div>
{% endblock content%}

